@media (max-width:1000px) {
    .main-layout {
        width: 700px;
    }


}

@media (max-width:730px) {
    .main-layout {
        width: 500px;
    }

    .main-container {
        flex-direction: column;
        margin-top: 25px;
    }

    .main-header {
        width: 100%;
    }

    .location-save-weather {
        padding: 0;
    }

    #map {
        width: 100% !important;
    }

    .location-save-weather {
        padding-bottom: 15px;
        margin-left: 0;
        margin-top: 15px;
    }

    .location-options button {
        margin-top: 8px;
        justify-content: center;
    }

}

@media (max-width:520px) {
    .main-layout {
        max-width: 300px;
    }

    .mobile-layout {
        width: 100%;
        flex-direction: column;
        margin-bottom: 35px;
    }
    .main-nav{
        margin-top: 15px;
        margin-bottom: 30px;

    }
   input{
        background-color: white;
    }
    .main-container {
        max-width: 80%;
    }
    .location-options button{
        background-color: rgba(109, 152, 177, 0.717);
    }
}



/* Desktop first */

/* @media (max-width:900px){
    body{
        background-color: #fff;
    }
}
@media (max-width:600px){
    body{
        background-color: #fff;
    }
}

/* Mobile First
@media (min-width:600px) {
    body{
        background-color: #fff;
    }
}
@media (min-width:900px) {
    body{
        background-color: #fff;
    }
} */