/* SETUP */

/* BASE */
@import 'basic/base.css';
@import 'basic/helpers.css';
@import 'basic/layout.css';


/* COMPONENTS */
@import './components/main-header.css'; 
@import './components/main-container.css'; 


/* MQ */
@import './MQ/mq.css'; 

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: rgb(198, 202, 182);
}

tr:nth-child(even) {
    background-color: rgb(186, 187, 201);
}